body {
    padding: 70px;
}

img {
    width: 170px;
}

.row{
    display: flex;
    gap: 150px;
    border: 1px solid #b6b5b5;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 5px 10px #ddd;
}

.info{
    width: 300px;
}